[Unit]
Description=revDns service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=daemon
ExecStart=/revDns/revDns
